# config
.DS_Store
.sass-cache
.svn/
tmp/

# Editor.
*.swp

# design data.
*.psd
*.ai

# node.js
node_modules/
package-lock.json
.tmp-test/

# Development environment.
_*/
_*.html
_*.js
